@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Subrayada&display=swap');

html {
	box-sizing: border-box;
	font-size: 16px;
}
  
  *, *:before, *:after {
	box-sizing: inherit;
}
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family:'Inter', sans-serif;
}
  
img {
	max-width: 100%;
	height: auto;
}

.nav { 
	display: flex;
    width: 100%;
	height: 100%;
	align-items: flex-start;
	font-family: Inter;
	gap: 10rem;
	justify-content: space-between;
}

.nav-item {
	color: #fff;
	text-decoration: none;
}

body {
background-color: black;
}

.border_1 {
	position: absolute;
	margin-top: 40px;
	background: #FFFFFF;
}

h1, h2, h3, p {
	color: #fff;
}

h1 { 
	font-size: 160%; 
	color: rgb(255, 255, 255);
}

h2 { 
	font-size: 135%; 
	color: #ffffff;
}

h3 { 
	font-size: 120%; 
	color: rgb(255, 255, 255);
}

p {
	color: #ffffff;
}

.header {
	display:flex;
	max-width: 1440px;
	padding-top:54px; 
	padding-left: 54px;
	padding-right: 54px;
	padding-bottom: 168px;
}


.about_me_container {
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-top: 80px;
	gap: 215px;	
}

.about_me_image_container {	
	border-radius: 160px;
	width: 600px;
	height: 600px;
	overflow: hidden;	 
}

.about_me_text_container {
	width: 800px;

}

.name {
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;	
	font: Inter;
	margin-bottom: 36px;
}

.designer {
	padding-bottom: 36px;
	font-size: 64px;
	line-height: 77px;
	font-weight: 400;
}

.welcome {
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	margin-bottom: 115px;
}

.discuss {
	display: flex;
	border: 1px solid;
	justify-content: center;
	width: 400px;
	height: 130px;
	align-items: center;
	font-size: 40px;
	font-weight: 400;
	margin-left: 100px;
	text-decoration: none;
	color: #ffffff;
}


.project_text {
	margin-top: 50px;
	margin-left: 190px;
	color: #ffffff;
	font-size: 40px;
	font-weight: 400;
}


.project_images {
	width: 50%;
	display: flex;
	margin-top: 100px;
	margin-left: 70px;
	margin-bottom: 200px;
	gap: 80px;
}

.project_image {
	width: 80%;
}

.see_all_projects {
	display: flex;
	border: 1px solid;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	width: 35%;
	height: 130px;
	padding: 30px;
	align-items: center;
	font-size: 40px;
	font-weight: 400;
	margin: 0 auto;
	margin-bottom: 100px;
	text-decoration: none;
	color: #ffffff;	
}

.services_text {
	font-size: 64px;
	margin-left: 20px;
	margin-top: 20px;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgb(0, 0, 0);
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
}

.card-section {
    padding: 30px 0;
}

.card {
    height: 230px;
    width: auto;
    background-color: #51557E;
}

.text_logo {
	padding-bottom: 10px;
    margin-top: 5px;
	margin-left: 40px;
    font-size: 40px;
}

.card-type-1 {
    padding: 0px;
}

.discuss_1 {
	margin-left: 50px;
	width:  200px;
	margin-bottom: 220px;
	background-color: #816797;
	border: 2px solid #816797;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
  
}

.textp {
    padding-bottom: 40px;
	font-size: 24px;

}

.soft {
	
	height: 600px;
}

.soft_text {
	padding-left: 40px;
	font-size: 64px;

}

.work_text {
	padding-top: 10px;
	padding-left: 30px;
	font-size: 32px;
}

.under_soft {
	padding-top: 30px;
}

.under_soft_work {
	font-family: 'Montserrat Subrayada', sans-serif;
	padding-left: 500px;
	white-space: nowrap;
	color: #fff;
	font-size: 64px;
	padding-top: 30px;
}
.footer {
	width: 20%;
	height: 90px;
	padding-top: 20px;
}




.email {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 64px;
	padding-left: 300px;
	padding-top: 100px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.footer_icons_telegram {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 40px;
	padding-top: 70px;
	padding-left: 600px;
	color: #fff;
	white-space: nowrap;

	

}


